<!-- <form>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Task</mat-label>
                <input  matInput  placeholder="Task"  type="text" [(ngModel)]="task" name="task"  required>
            </mat-form-field>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Foreman</mat-label>
                <input  matInput  placeholder="Foreman"  type="text" [(ngModel)]="foremanID" name="foremanID"  required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Work Zone</mat-label>
                <input  matInput  placeholder="Work Zone"  type="taxt" [(ngModel)]="workZone" name="workZone"  required>
            </mat-form-field>
        </div>
    </div>
    <button class="mt-4 btn-large" mat-raised-button color="primary" >ASSIGN TASK</button>
</form> -->