<form>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Material</mat-label>
                <input  matInput  placeholder="Task"  type="text" [(ngModel)]="task" name="task"  required>
            </mat-form-field>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Cost code</mat-label>
                <input  matInput  placeholder="Code"  type="text" [(ngModel)]="code" name="code"  required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Required Time</mat-label>
                <input  matInput  placeholder="Required Time"  type="number" [(ngModel)]="rtime" name="required time"  required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Double Time</mat-label>
                <input  matInput  placeholder="Double Time"  type="number" [(ngModel)]="dtime" name="double time"  required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Actual Time</mat-label>
                <input  matInput  placeholder="Actual Time"  type="number" [(ngModel)]="atime" name="actual time"  required>
            </mat-form-field>
        </div>
    </div>
    
    
    
    
    <button class="mt-4 btn-large" mat-raised-button color="primary" >ADD COST-CODE</button>
</form>