
<div class="row ">
    <div class="col flex">
        <p>Task Manager</p>
        <button class="button btn-primary btn-large" (click)="open()"><mat-icon>note_add</mat-icon>Add new task</button>
    </div>
</div>
<div class="row p-2">
    <div class="col">
          <ngx-datatable
            #table
            class="material"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10"
            [rows]="rows"
          >
            <ngx-datatable-column name="Foreman" prop="foremanID"></ngx-datatable-column>
            <ngx-datatable-column name="Task" prop="task"></ngx-datatable-column>
            <ngx-datatable-column name="Work Zone" prop="workZone"></ngx-datatable-column>
          </ngx-datatable>
    </div>
</div>